# Archivos de compilación de PlatformIO
.pio/
.vscode/

# Archivos compilados de C++
*.elf
*.bin
*.hex

# Python
__pycache__/
venv/
*.pyc

# Datos (Son muy pesados para git, se guardan local)
data/raw/*.csv
data/raw/*.xlsx
data/processed/*.csv
data/processed/*.xlsx
data/*.csv
data/*.xlsx


# Sistema Operativo
.DS_Store
Thumbs.db